h2 {
  color : blue;
  background-color: brown;
}
p{
  color :aqua;
}
img{
  width:50%;
}
.one {
  font-size: x-small;
  border-width: 4px;
  border-color: green;
  border-style: dotted;
  background-color: yellow;
}
